@import '../../functions';

.spark-vpin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include desktop() {
    flex-direction: row;
  }

  &__pin {
    height: 100%;

    @include desktop() {
      position: sticky;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
  }
}