/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Showcase */
body {
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
	font-weight: 500;
  margin-bottom: 2rem;
}

.card {
	background-color: #ccc;
	display: block;
	height: 24rem;
	width: 20rem;
	min-width: 20rem;
}

.card--lg {
	height: 35rem;
	width: 32rem;
	min-width: auto;
}

.figure-caption {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.figure-caption img {
	width: 100%;
}

.figure-caption h3 {
	font-size: 2.5rem;
}

.figure-caption p {
	font-size: 1.2rem;
	line-height: 2rem;
}

.section {  
  margin: 1rem;
  padding: 3rem 2rem;
}

.section__stack {
	display: flex;
	gap: 1rem;
}

.section--reveal h2 {
	font-weight: 300;
	font-size: 2rem;
	padding: 0.5rem 0;
}

.section--reveal p {
	font-weight: 300;
	font-size: 1.5rem;
	padding: 0.5rem 0;
}

.section--reader {
	border: 0 none;
	height: calc(100vh - 126px);
	margin: 0;
	padding: 0;
}

.section--reader.py {
	padding: 8rem 0;
}

.section--reader__content {
	border: 1px solid #999;
	margin: 0 1rem;
  padding: 3rem 2rem;
	height: 100%;
}

.section--reader p {
	font-size: 3rem;
	line-height: 4rem;
}

.section--pin {
	height: 100vh;
	margin: 0;
	padding: 3rem;
	overflow: hidden;
}

.section--vpin p {
	line-height: 1.5;
	max-width: 34rem;
}

.section--voverlap {
	margin-bottom: 4rem;
}

.section--voverlap .spark-voverlap-img-wrapper {
	max-width: 800px;
	height: 500px;
}

@media (max-width: 992px) {
	.card--lg {
		height: 20rem;
		width: 100%;
	}

	.section {
		margin: 0;
		padding: 3rem 1rem;
	}

	.section__stack {
		flex-direction: column;
	}

	.section--reader {
		padding: 3rem 0;
	}

	.section--reader p {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}

	.section--pin {
		height: auto;
		padding: 3rem 1rem;
	}
}
