@import '../../functions';

.spark-hpin {
  display: flex;
  gap: 1rem;
  white-space: nowrap;
  overflow-x: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }
  
  @include desktop {
    white-space: normal;
    overflow-x: visible;
  }
}
