@import "../../functions";

.spark-text-reader {
  opacity: 0;
  overflow: hidden;

  .word {
    opacity: 0;
  }

  .line {
    background-size: 200% 100%;
    background-position: 100% 0%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.showOnMobile {
    .word {
      @include mobile {
        opacity: 1;
      }
    }

    .line-mask {
      @include mobile {
        display: none;
      }
    }
  }
}
